In [130]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.float_format = '{:,}'.format
df = pd.read_excel('C:\Mini-pjt\\fc_data.xlsx')

In [11]:
plt.rc("font", family = "Malgun Gothic")
sns.set(font="Malgun Gothic", 
rc={"axes.unicode_minus":False}, style='darkgrid')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105419 entries, 0 to 105418
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      105419 non-null  float64
 1   customer_id             105416 non-null  float64
 2   course_id               100212 non-null  float64
 3   type                    105419 non-null  object
 4   state                   105419 non-null  object
 5   course_title            105403 non-null  object
 6   category_title          105395 non-null  object
 7   format                  105403 non-null  object
 8   completed_at            105419 non-null  datetime64[ns]
 9   transaction_amount      105419 non-null  float64
 10  coupon_title            31817 non-null   object
 11  coupon_discount_amount  31817 non-null   float64
 12  sale_price              104291 non-null  float64
 13  tax_free_amount         104291 non-null  float64
 14  pg                      90344 non-null   object
 15  method                  92323 non-null   object
 16  subcategory_title       85590 non-null   object
 17  marketing_start_at      87440 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(7), object(9)
memory usage: 14.5+ MB

In [131]:
df.head()

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
0,"970,634.0","504,760.0","201,435.0",ORDER,CANCELLED,올인원 패키지 : 알고리즘 기술면접 완전 정복,프로그래밍,올인원,2021-03-28 15:00:11,"90,500.0",NaN,NaN,"110,500.0","110,500.0",NaN,VBANK,개발자 커리어,NaT
1,"970,650.0","432,862.0","203,178.0",ORDER,CANCELLED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:16:53,"96,000.0",NaN,NaN,"116,000.0","116,000.0",NaN,CARD,영상 편집,2020-12-02
2,"970,657.0","72,297.0","204,246.0",PAYMENT,COMPLETED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,"171,810.0",[10% 할인] 시크릿코드 실무 완성편,"19,090.0","190,900.0","190,900.0",NaN,CARD,NaN,2021-03-04
3,"970,656.0","72,297.0","204,246.0",ORDER,CANCELLED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,"171,810.0",NaN,NaN,"190,900.0","190,900.0",NaN,CARD,NaN,2021-03-04
4,"970,658.0","478,028.0","201,797.0",PAYMENT,COMPLETED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:54,"97,500.0",[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,"20,000.0","117,500.0","117,500.0",NaN,CARD,PPT/보고서,2019-11-14

In [14]:
df['state'].value_counts()

COMPLETED    62763
CANCELLED    41279
PENDING       1144
DELETED        219
REQUESTED       14
Name: state, dtype: int64

In [15]:
count = df['customer_id'].value_counts()

98685.0     78
50769.0     62
40783.0     59
496508.0    54
427973.0    51
            ..
437600.0     1
551107.0     1
551096.0     1
551091.0     1
610626.0     1
Name: customer_id, Length: 53753, dtype: int64

In [16]:
cond = df['customer_id'] == 98685.0
df[cond]

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
5119,984635.0,98685.0,201998.0,PAYMENT,COMPLETED,올인원 패키지 : iOS 앱 개발,프로그래밍,올인원,2021-04-01 10:19:28,24800.0,수강생 50만명 돌파 기념 감사제 쿠폰,87200.0,112000.0,112000.0,NaN,CARD,모바일앱,2020-01-14
6337,988664.0,98685.0,204342.0,PAYMENT,COMPLETED,"올인원 패키지 : GA4 탑재, 구글 애널리틱스 끝장내기",마케팅,올인원,2021-04-03 00:08:50,55300.0,GA4 30% 할인쿠폰,23700.0,79000.0,79000.0,NaN,CARD,데이터마케팅,2021-04-02
6338,988663.0,98685.0,204342.0,ORDER,CANCELLED,"올인원 패키지 : GA4 탑재, 구글 애널리틱스 끝장내기",마케팅,올인원,2021-04-03 00:08:51,55300.0,NaN,NaN,79000.0,79000.0,NaN,CARD,데이터마케팅,2021-04-02
6936,990338.0,98685.0,201798.0,PAYMENT,COMPLETED,올인원 패키지 : 브랜딩 2020,마케팅,올인원,2021-04-04 10:08:51,162100.0,NaN,NaN,162100.0,162100.0,NaN,CARD,SNS마케팅,2019-11-11
6938,990340.0,98685.0,203100.0,ORDER,CANCELLED,올인원 패키지 : 성공적인 UX를 위한 유저 리서치 by 카카오페이 리서처,디자인,올인원,2021-04-04 10:09:22,162000.0,NaN,NaN,162000.0,162000.0,NaN,CARD,UX/UI,2020-09-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103217,1350900.0,98685.0,205816.0,PAYMENT,COMPLETED,올인원 패키지 : 강필성의 머신러닝 아카데미,데이터사이언스,올인원,2021-09-16 23:38:32,130050.0,[할인 쿠폰] 추석맞이 15% 시크릿 감사 15% 할인 쿠폰(데이터사이언스 카테고리...,22950.0,153000.0,153000.0,KAKAO,CARD,머신러닝,2021-06-30
104429,1358751.0,98685.0,207343.0,PAYMENT,COMPLETED,올인원 패키지 : 스프링의 정석 : 남궁성과 끝까지 간다,프로그래밍,올인원,2021-09-22 16:04:46,199000.0,NaN,NaN,199000.0,199000.0,KAKAO,CARD,백엔드 개발,2021-09-13
104430,1358752.0,98685.0,206742.0,PAYMENT,COMPLETED,올인원 패키지 : 클라우드를 활용한 데이터 파이프라인 구축,데이터사이언스,올인원,2021-09-22 16:05:25,399000.0,NaN,NaN,399000.0,399000.0,KAKAO,CARD,데이터엔지니어링,2021-09-13
104431,1358755.0,98685.0,202547.0,PAYMENT,COMPLETED,올인원 패키지 : Financial Modeling,부동산/금융,올인원,2021-09-22 16:05:59,189000.0,NaN,NaN,189000.0,189000.0,KAKAO,CARD,금융/투자 실무,2020-04-17
104432,1358756.0,98685.0,204180.0,PAYMENT,COMPLETED,올인원 패키지 : 현직 Advisory에게 배우는 M&A 전략 및 PMI 실무,부동산/금융,올인원,2021-09-22 16:06:33,208000.0,NaN,NaN,208000.0,208000.0,KAKAO,CARD,금융/투자 실무,NaT

In [17]:
df['pg'].value_counts()

INICIS    60087
KAKAO     17249
NAVER      8045
PAYCO      4642
CHAI        321
Name: pg, dtype: int64

In [18]:
df['coupon_title'].value_counts()

[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰                                 5498
[WELCOME] 온라인 강의 3만원 할인쿠폰                                3206
[웰컴쿠폰] 올인원 패키지 1만원 할인 쿠폰                                 2469
[WELCOME] 온라인 강의 2만원 할인쿠폰                                2325
[WELCOME] 온라인 강의 1만원 할인쿠폰                                1900
                                                         ...
[무료수강권] 한 번에 끝내는 Java/Spring 웹 개발 마스터 초격차 패키지_안성훈 강사님       1
오늘 단 하루! 하루 10분컷 5%할인 (~6/2)                                1
[무료수강권] RED 검수용_공정필 PM님                                     1
[서포터즈 전용] 재무/세무 회계 실무 완성 무료 수강                              1
[재결제쿠폰]초격차 패키지 : 한 번에 끝내는 node.js 웹 프로그래밍                   1
Name: coupon_title, Length: 494, dtype: int64

In [19]:
payment_data = df

In [20]:
payment_data['pg'] = payment_data['pg'].fillna('PG')

In [21]:
payment_data['pg']

0             PG
1             PG
2             PG
3             PG
4             PG
           ...
105414    INICIS
105415    INICIS
105416    INICIS
105417    INICIS
105418     NAVER
Name: pg, Length: 105419, dtype: object

In [22]:
payment_data['method'].value_counts()

CARD            66380
VBANK            8540
POINT            8084
PROMOTION        4733
TRANS            2732
TRANSFER         1247
ONSITE            599
VOUCHER             5
B2B_CONTRACT        3
Name: method, dtype: int64

In [23]:
df2 = df

In [24]:
method_data = df

In [25]:
method_data['method'] = method_data['method'].fillna('')

In [26]:
payment_data['pg'] + ' ' + method_data['method']

0             PG VBANK
1              PG CARD
2              PG CARD
3              PG CARD
4              PG CARD
              ...
105414    INICIS TRANS
105415     INICIS CARD
105416    INICIS VBANK
105417     INICIS CARD
105418     NAVER POINT
Length: 105419, dtype: object

In [27]:
df2 = df

In [28]:
df2['payment_data'] = payment_data['pg'] + ' ' + method_data['method']

In [29]:
df2

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at,payment_data
0,970634.0,504760.0,201435.0,ORDER,CANCELLED,올인원 패키지 : 알고리즘 기술면접 완전 정복,프로그래밍,올인원,2021-03-28 15:00:11,90500.0,NaN,NaN,110500.0,110500.0,PG,VBANK,개발자 커리어,NaT,PG VBANK
1,970650.0,432862.0,203178.0,ORDER,CANCELLED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:16:53,96000.0,NaN,NaN,116000.0,116000.0,PG,CARD,영상 편집,2020-12-02,PG CARD
2,970657.0,72297.0,204246.0,PAYMENT,COMPLETED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810.0,[10% 할인] 시크릿코드 실무 완성편,19090.0,190900.0,190900.0,PG,CARD,NaN,2021-03-04,PG CARD
3,970656.0,72297.0,204246.0,ORDER,CANCELLED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810.0,NaN,NaN,190900.0,190900.0,PG,CARD,NaN,2021-03-04,PG CARD
4,970658.0,478028.0,201797.0,PAYMENT,COMPLETED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:54,97500.0,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,117500.0,117500.0,PG,CARD,PPT/보고서,2019-11-14,PG CARD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105414,1364995.0,640697.0,205365.0,PAYMENT,CANCELLED,초격차 패키지 : 한 번에 끝내는 유튜브 크리에이터 되기,영상/3D,올인원,2021-09-25 14:10:42,96000.0,[WELCOME] 온라인 강의 2만원 할인쿠폰,20000.0,116000.0,116000.0,INICIS,TRANS,영상 편집,2021-06-15,INICIS TRANS
105415,1364998.0,670896.0,204159.0,PAYMENT,CANCELLED,부동산 디벨로퍼 아카데미 : 인허가,부동산/금융,올인원,2021-09-25 14:16:33,189000.0,NaN,NaN,189000.0,189000.0,INICIS,CARD,부동산 개발,2021-02-10,INICIS CARD
105416,1364996.0,640697.0,205365.0,PAYMENT,COMPLETED,초격차 패키지 : 한 번에 끝내는 유튜브 크리에이터 되기,영상/3D,올인원,2021-09-25 14:17:41,96000.0,[WELCOME] 온라인 강의 2만원 할인쿠폰,20000.0,116000.0,116000.0,INICIS,VBANK,영상 편집,2021-06-15,INICIS VBANK
105417,1365005.0,670896.0,204159.0,PAYMENT,CANCELLED,부동산 디벨로퍼 아카데미 : 인허가,부동산/금융,올인원,2021-09-25 14:19:56,189000.0,NaN,NaN,189000.0,189000.0,INICIS,CARD,부동산 개발,2021-02-10,INICIS CARD
105418,1365007.0,610626.0,206720.0,PAYMENT,COMPLETED,용호수의 돈 버는 실전 영상 제작,영상/3D,올인원,2021-09-25 14:25:47,139000.0,[WELCOME] 온라인 강의 3만원 할인쿠폰,30000.0,169000.0,169000.0,NAVER,POINT,영상 편집,2021-08-17,NAVER POINT

In [30]:
df2['payment_data'].value_counts()

INICIS CARD        50823
KAKAO               7547
INICIS VBANK        7138
PG CARD             6840
KAKAO POINT         6174
PG PROMOTION        4733
KAKAO CARD          3528
NAVER CARD          3350
NAVER               3222
PAYCO               2160
INICIS TRANS        2126
PAYCO CARD          1839
PG VBANK            1394
NAVER POINT         1276
PG TRANSFER         1246
PAYCO POINT          634
PG ONSITE            599
PG TRANS             255
NAVER TRANS          197
CHAI                 167
CHAI TRANS           154
PAYCO VBANK            8
PG VOUCHER             5
PG B2B_CONTRACT        3
PAYCO TRANSFER         1
Name: payment_data, dtype: int64

In [113]:
how = {
    'id' : np.count_nonzero,
}

In [ ]:
df.groupby(['type','state'])

In [134]:

new_data= df.drop(df.loc[df['state'] != 'COMPLETED'].index)

new_data.groupby(['type', 'state','category_title','subcategory_title']).agg(how)

                                                    id
type   state     category_title subcategory_title
ORDER  COMPLETED 데이터사이언스        데이터분석              326
                                데이터엔지니어링             8
                                딥러닝/인공지능           261
                                머신러닝               155
                 디자인            UX/UI              160
...                                                ...
REFUND COMPLETED 프로그래밍          게임                  51
                                모바일앱               165
                                백엔드 개발             261
                                코딩 입문               30
                                프론트엔드 개발           233

[99 rows x 1 columns]

In [64]:
payment_data['type'].value_counts()

PAYMENT        61433
ORDER          40159
REFUND          3824
TRANSACTION        3
Name: type, dtype: int64

In [65]:
payment_data['state'].value_counts()

COMPLETED    62763
CANCELLED    41279
PENDING       1144
DELETED        219
REQUESTED       14
Name: state, dtype: int64

In [80]:
how2 = {
    'id' : np.count_nonzero,
    'transaction_amount' : np.sum
}

In [81]:
df.groupby(['type','state']).agg(how2)

                          id  transaction_amount
type        state
ORDER       CANCELLED  34123        4.841462e+09
            COMPLETED   6036        9.329618e+08
PAYMENT     CANCELLED   7156        1.416919e+09
            COMPLETED  52902        8.642456e+09
            DELETED      217        5.763560e+07
            PENDING     1144        1.799420e+08
            REQUESTED     14        2.073700e+06
REFUND      COMPLETED   3822       -6.299230e+08
            DELETED        2       -1.603000e+06
TRANSACTION COMPLETED      3        0.000000e+00

In [ ]:
def re_buy(x):
    if x == 1:
        return '1번 구매한 고객'
    elif 1 < x <= 5:
        return '관심고객'
    elif 5< x <= 20:
        return '사랑고객'
    else:
        return '충성고객'

In [86]:

how3 = {
    'id' : np.count_nonzero
}

df.groupby('customer_id').agg(how3)

             id
customer_id
16.0          1
46.0          2
47.0          3
79.0          1
96.0          1
...          ..
670891.0      1
670896.0      2
672301.0      1
672307.0      1
672308.0      1

[53753 rows x 1 columns]

In [60]:
payment_data[payment_data['format'].isna()]

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at,payment_data
9002,996843.0,490139.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-04-07 15:05:06,480000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
9003,996793.0,490089.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-04-07 15:05:06,600000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
9004,996842.0,490138.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-04-07 15:05:06,600000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
9005,996851.0,490149.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-04-07 15:05:06,600000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
12133,1011200.0,NaN,NaN,TRANSACTION,COMPLETED,NaN,NaN,NaN,2021-04-12 11:40:00,0.0,NaN,NaN,NaN,NaN,PG,B2B_CONTRACT,NaN,NaT,PG B2B_CONTRACT
12181,1006736.0,291328.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-04-12 13:10:10,967000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
13754,1012747.0,498414.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-04-15 20:40:35,170000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
31192,1063323.0,524510.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-05-10 18:04:33,35000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
36367,1066932.0,NaN,NaN,TRANSACTION,COMPLETED,NaN,NaN,NaN,2021-05-17 16:12:00,0.0,NaN,NaN,NaN,NaN,PG,B2B_CONTRACT,NaN,NaT,PG B2B_CONTRACT
38944,1093777.0,539708.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-05-22 10:57:39,127500.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
40377,1093780.0,539709.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-05-24 09:18:48,110000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
40378,1093784.0,539709.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-05-24 09:18:48,110000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
47361,1117129.0,549990.0,NaN,PAYMENT,COMPLETED,NaN,NaN,NaN,2021-06-02 16:48:37,10500000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
53960,1141801.0,560947.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-06-13 19:13:41,172000.0,NaN,NaN,NaN,NaN,PG,TRANSFER,NaN,NaT,PG TRANSFER
56316,1155478.0,567600.0,NaN,PAYMENT,DELETED,NaN,NaN,NaN,2021-06-18 01:38:26,1200000.0,NaN,NaN,NaN,NaN,PG,ONSITE,NaN,NaT,PG ONSITE
91500,1299115.0,NaN,NaN,TRANSACTION,COMPLETED,NaN,NaN,NaN,2021-08-20 20:05:00,0.0,NaN,NaN,NaN,NaN,PG,B2B_CONTRACT,NaN,NaT,PG B2B_CONTRACT

In [61]:
payment_data[payment_data['state'] == 'COMPLETED']['transaction_amount'].sum()

8945495307.0

In [62]:
payment_data[payment_data['state'] == 'CANCELLED']['transaction_amount'].sum()

6258381318.0

In [63]:
payment_data[payment_data['state'] == 'DELETED']['transaction_amount'].sum()

56032600.0

In [92]:
how5 = {
    'transaction_amount' : np.sum,
}
payment_data.groupby(['category_title','state']).agg(how)

                          transaction_amount
category_title state
관리             CANCELLED        1.500000e+05
               COMPLETED        1.500000e+05
교육             CANCELLED        9.610704e+07
               COMPLETED        1.160776e+09
               DELETED          1.985250e+07
데이터 사이언스       CANCELLED        1.556000e+06
               COMPLETED        1.550000e+06
데이터사이언스        CANCELLED        1.107113e+09
               COMPLETED        1.660329e+09
               DELETED          4.040700e+06
               PENDING          2.639975e+07
               REQUESTED        4.560000e+05
디자인            CANCELLED        6.671214e+08
               COMPLETED        7.779253e+08
               DELETED          2.997200e+06
               PENDING          2.401795e+07
마케팅            CANCELLED        5.973336e+08
               COMPLETED        8.683056e+08
               DELETED          3.617800e+06
               PENDING          2.452975e+07
               REQUESTED        4.712000e+05
부동산/금융         CANCELLED        3.970118e+08
               COMPLETED        5.383035e+08
               DELETED          1.398000e+06
               PENDING          9.875800e+06
               REQUESTED        1.010000e+05
비즈니스           CANCELLED        6.124355e+06
               COMPLETED        5.389865e+06
업무 생산성         CANCELLED        5.242035e+08
               COMPLETED        6.639209e+08
               DELETED          2.785900e+06
               PENDING          1.933806e+07
               REQUESTED        2.065000e+05
영상/3D          CANCELLED        4.638433e+08
               COMPLETED        6.161082e+08
               DELETED          3.218600e+06
               PENDING          1.445200e+07
               REQUESTED        2.695000e+05
일러스트           CANCELLED        2.080000e+05
지식콘텐츠          CANCELLED        4.710000e+06
               COMPLETED        7.360000e+06
               PENDING          7.070000e+05
크리에이티브         CANCELLED        4.724804e+08
               COMPLETED        3.414408e+08
               DELETED          4.037000e+06
               PENDING          1.198630e+07
               REQUESTED        1.990000e+05
투자/재테크         CANCELLED        1.547784e+08
               COMPLETED        3.168888e+08
               DELETED          1.177000e+06
               PENDING          6.770500e+06
파이낸스           CANCELLED        1.980000e+06
               COMPLETED        5.100000e+06
프로그래밍          CANCELLED        1.757270e+09
               COMPLETED        1.968677e+09
               DELETED          7.736400e+06
               PENDING          4.186486e+07
               REQUESTED        3.705000e+05